.section {
  padding: 68px 0;
  scroll-margin-top: calc(var(--header-height) + 20px);
}

.light {
  background: var(--background);
}

.white {
  background: var(--white);
}

.dark {
  background: var(--secondary);
  color: var(--white);
}

@media (max-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
